body {
  width: 1280px;
  height: 720px;
}

#image_tuto {
  background-image: url('tuto/botaniste.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 1280px;
  height: 720px;
}
