body {
  background: #318ce7;
}

.fill {
  background-image: url('img/etoile.svg');
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.empty {
  display: inline-flex;
  position: relative;
  height: 160px;
  width: 160px;
  border: solid 3px salmon;
  background: black;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.F2 {
  top: 200px;
}
