body {
  width: 1280px;
  height: 720px;
}

#environnement{
  background-repeat: no-repeat;
  z-index: 0;
  position: absolute;
}

#personnages{
    position: absolute;
    margin-top: 70px;
}

.emplacement{
  width: 520px;
  height: 650px;
  position: absolute;
}

#emplacement_0{z-index:1; }
#emplacement_1{margin-left: 380px; z-index:2;}
#emplacement_2{margin-left: 760px; z-index:1;}

#nom_du_locuteur{
  background-color: black;
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 454px;
  padding-left: 15px;
  padding-top: 15px;
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 25px;
}

#boite_de_dialogue{
  background-color: black;
  width: 1080px;
  height: 180px;
  position: absolute;
  z-index: 3;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 500px;
  cursor: pointer;
  color: white;
  font-size: 25px;
}

#boite_choix_multiples{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  justify-content: space-between;
  font-size: 25px;
  color: white;
}

.choix{
  cursor: pointer;
  background-color: black;
}

.hide{
  display: none;
}
